@use './utils/variables' as var;
@use './utils/normalize';

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var.$textColor;
  background-color: var.$bgColor;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: var.$fontFamily;
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;

  a{
    color: var.$textColor;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

header {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    font-family: var.$fontFamily;
    margin-bottom: 2em;

    i{
      margin-top: 1rem;
      margin-left: 2rem;
      font-size: 3em;
      vertical-align: middle;
    }

    span {
      position: absolute;
      font-size: 2rem;
      left: 6.3rem;
      top: 1.2rem;
    }

    ul {
      display: flex;
      margin-right: 2.5em;
      li {
        list-style-type: none;
        margin-left: 3em;

        a{
          font-size: 1.5rem;
        }
      }
    }
  }
}

main {
  width: 90%;
  margin: 0 auto;

  :is(h1, h2, h3, h4, h5, h6) {
    text-align: center;
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

  h2 {
    font-size: 2.4em;
  }

  .animalContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .animalCard {
      background-color: var.$darkGreenColor;
      box-shadow: 0 0.5rem 1.2rem rgba(0, 0, 0, 0.664);
      border-radius: 8px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      padding: 2em;
      height: 32em;
      width: 22em;
      margin: 2em;

      img {
        height: 15em;
        width: 20em;
      }

      h3 {
        font-size: 1.5rem;
        text-align: center;
        text-transform: uppercase;
      }

      .isFedIcons, .isNotFedIcons {
        display: flex;
        justify-content: center;
        padding: 1.5em;

        i {
          margin: 2px;
        }
      }

      .isNotFedIcons {
        
        .faded {
          color: #dedede18;
        }
      }

      button {
        width: 70%;
      }
    }
  }

  .personalAnimalContainer {
    background-color: var.$darkGreenColor;
    box-shadow: 0 0.5rem 1.2rem rgba(0, 0, 0, 0.664);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    padding: 2em;

    h2 {
      text-transform: uppercase;
      font-size: 1.7rem
    }

    img {
      height: 35em;
      width: 40em;
    }

    .isFedIcons, .isNotFedIcons {
      display: flex;
      justify-content: center;
      padding: 1.5em;

      i {
        margin: 2px;
      }
    }

    .isNotFedIcons {
      
      .faded {
        color: #dedede18
      }
    }

    p {
      text-align: left;
      font-size: 0.9rem;
    }

    .generalAnimalInfo {
      border: 2px solid #152015;
      margin-top: 1em;
      padding: 2em;
      width: 60%;

      .latinName {
        font-style: italic;
        text-align: center;
      }
      
      .longDesc {
        margin: 0 auto;
      }
    }
  }
}

footer {
  margin-top: 3em;
  background-color: var.$darkGreenColor;
  padding: 2rem;
  text-align: center;

  a, span{
    font-size: 0.9rem;
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var.$buttonColor;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var.$buttonHoverColor;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
